# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
Thumbs.db

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
